* {
    margin: 0;

    padding: 0;
    font-size: 15px;
    
}

body {
    margin: 0 auto;
    width: 45%;

}

h1 {
    font-size: 3rem;
    text-align: center;
    margin: 2rem;
    padding: 1rem;
}
h3 {
    margin: 2rem 4rem;
    font-size: 2rem;
}
p {
    margin: 4rem;
    font-size: 1.5rem;
}



.nav-bar {
    list-style-type: none;
    height: 7rem;
    list-style-type:none;
    overflow: hidden;
}

.about:hover {
    cursor: pointer;
    color: blanchedalmond;
    background-color: black;
}
.img-nav {
    
    padding: 0.8rem;
    width: 15%;
    height: 65%;
    display: inline;
    float: right;
    
}
.about {
    display: inline;
       float: left;
       font-size: 2rem;
       text-align: center;
       text-decoration: none;
       color: black;
       width: 8rem;
       max-width: 9rem;
       margin: 1.5rem 1rem 0rem 1rem;
       padding: 1rem;
       border-right: black solid 1px;
       border-left: black solid 1px;


    
     
   
     
   }
   